<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<!-- script src="sigmajs/sigma.min.js"></script -->
		<script src="sigmajs/sigma.require.js"></script>
		<script src="sigmajs/plugins/sigma.renderers.edgeLabels.min.js"></script>
		<script src="sigmajs/plugins/sigma.renderers.edgeDots.min.js"></script>

		<script src="sigmajs/plugins/sigma.plugins.dragNodes.min.js"></script>

		<script src="sigmajs/plugins/sigma.layout.noverlap.min.js"></script>
		<script src="sigmajs/plugins/sigma.plugins.animate.min.js"></script>

		<script src="sigmajs/plugins/sigma.exporters.svg.min.js"></script>
		
		<script src="pikaday/pikaday.js"></script>
		<link rel="stylesheet" type="text/css" href="pikaday/css/pikaday.css"/>
		<link rel="stylesheet" type="text/css" href="pikaday/css/theme.css"/>
		
		<script src="js/constants.js"></script>
		<script src="js/relationUtils.js"></script>
		<script src="js/reltree.js"></script>
		
		<link rel="stylesheet" type="text/css" href="css/reltree.css"/>
		<link rel="stylesheet" type="text/css" href="css/searchresults.css"/>
	</head>
	<body onload="drawGraph()">
		<div id="container">
			<div id="topbar">
				<div id="languageDetails">
					<label for="Language" th:utext="#{label.language}"></label>:&nbsp;
					<select id="language"></select><br/>
					<button onclick="switchLanguage()" th:utext="#{label.switch}"></button>&nbsp;&nbsp;
				</div>
				<div id="projectdetails">
					<label for="project" th:utext="#{label.project}"></label>:&nbsp;
					<input type="text" id="project"/><br/>
					<button onclick="switchProject()" th:utext="#{label.switch}"></button>&nbsp;&nbsp;
					<button onclick="createProject()" class="authenticated" style="display: none" th:utext="#{label.createNew}"></button>
				</div>
				<div id="userdetails">
					<label for="user" th:utext="#{label.user}"></label>:&nbsp;
					<input type="text" id="user" class="authenticated" style="display: none" disabled/><br/>
					<input type="button" onclick="location.href='./oauth2/authorization/google';" th:attr="value=#{label.loginWithGoogle}" class="unauthenticated" style="display: inline-block"/>
					<button onclick="logout()" class="authenticated" style="display: none" th:utext="#{label.logout}"></button>
				</div>
			</div>
			<div id="leftbar">
				<div id="leftbartitle" th:utext="#{label.functions}"></div>
				<div id="leftbarbuttons">
					<button onclick="searchPerson()" th:utext="#{label.searchPerson}"></button><br/>
					<button onclick="ascertainRelation()" th:utext="#{label.ascertainRelation}"></button><br/>
					<hr/>
					<button onclick="clearGraph()" th:utext="#{label.clearGraph}"></button><br/>
					<button onclick="nodeToFocus()" th:utext="#{label.bringFocus}"></button><br/>
					<button onclick="printGraph()" th:utext="#{label.printGraph}"></button><br/>
					<hr/>
					<button onclick="addPerson()" rel-modify-data th:utext="#{label.addPerson}"></button><br/>
					<button onclick="relatePersons()" rel-modify-data th:utext="#{label.relatePersons}"></button><br/>
					<button onclick="uploadPrData()" rel-modify-data th:utext="#{label.uploadPersonsNRelations}"></button><br/>
				</div>
				<hr/>
				<div id="leftbarconfig">
					<span th:utext="#{label.doubleClickFunction}"></span><br/>
					<input type="radio" id="drel" name="cfgPersonDblClk" value="drel" checked onclick="enDisableDepth(this);"/>
					<label for="drel" th:utext="#{label.directRelations}"></label><br/>
					<input type="radio" id="ftree" name="cfgPersonDblClk" value="ftree" onclick="enDisableDepth(this);"/>
					<label for="ftree" th:utext="#{label.relationTree}"></label>
					<br/>
					&emsp;<input type="radio" id="viewTree" name="viewOrExportTree" value="view" checked disabled/>
					<label for="viewTree" th:utext="#{label.view}"></label>&emsp;
					(
					<label for="depth" th:utext="#{label.maxDepth}"></label>
					<select id="depth" name="depth" disabled>
						<option value="2">2</option>
						<option value="3" selected>3</option>
						<option value="4">4</option>
					</select>
					)
					<br/>
					&emsp;<input type="radio" id="exportTree" name="viewOrExportTree" value="export" disabled/>
					<label for="exportTree" th:utext="#{label.export}"></label><br/>
					<input type="radio" id="roots" name="cfgPersonDblClk" value="roots" onclick="enDisableDepth(this);"/>
					<label for="roots" th:utext="#{label.roots}"></label><br/>
					<input type="radio" id="parceners" name="cfgPersonDblClk" value="parceners" onclick="enDisableDepth(this);"/>
					<label for="parceners" th:utext="#{label.parceners}"></label><br/>
				</div>
			</div>
			<div id="graph-container"></div>
			<div id="sidebar">
				<div id="sidebartitle"></div>
				<hr/>
				<div id="sidebarbuttons"></div>
				<hr/>
				<div style="display: none" id="sidebarphoto">
					<img class="column" style="float: left" id="sidebarphotoImg"/>
					<input class="column" id="sidebarphotoInput" type="file" accept=".png,.jpg" onchange="document.getElementById('sidebarphotoImg').src = window.URL.createObjectURL(this.files[0])"/>
					<hr style="clear: left"/>
				</div>
				<div id="sidebarbody" style="overflow-y:scroll; height:85%"></div>
			</div>
		</div>
		<div id="searchresultswindow" class="modal">
			<!-- Modal content -->
			<div class="modal-content">
				<div class="modal-header">
					<span id="searchCloseButton" class="close">&times;</span>
					<div class="fontsize15" th:utext="#{label.searchResults}"></div>
					<div class="fontsize13" id="searchMessage"></div>
				</div>
				<div class="modal-body" style="overflow-x:scroll">
					<table id="searchresultstable">
					</table>
				</div>
				<div class="modal-footer">
					<button id="searchReturnButton" th:utext="#{label.returnWithSelection}"></button><br/>
				</div>
			</div>
		</div>
	</body>
</html>
